<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tangpo.lianfu"
    android:versionCode="1"
    android:versionName="1.0.02" >

    <!-- 使用百度地图需要开启如下权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--环信所需权限-->
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 开发基于百度地图的应用需要先申请key，然后在application中添加开发密钥 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="vQlw48SvURoVrQNDCWLQ6mgE" />

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="lianfushouyi#lianfushouyios" />
        <!-- 声明sdk所需的service SDK核心功能-->
        <service
            android:name="com.easemob.chat.EMChatService" />
        <!-- 声明sdk所需的receiver -->
        <receiver
            android:name="com.easemob.chat.EMMonitorReceiver" />

        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PersonalMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RegisterSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddConsumeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddEmployeeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ConsumeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DiscountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DiscountManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EmploeeInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MemberInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MemberUpdateTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OfflineProfitPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OnlinePayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PayBillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SelectUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShopInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StoreLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UpdatePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SelectPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".ui.AddDiscountActivity"
            android:label="@string/title_activity_add_discount"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SelectPayMethod"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" >
        </activity>
        <activity
            android:name=".ui.PayByAliPay"
            android:label="@string/title_activity_pay_by_ali_pay"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.CostRepayActivity"
            android:label="@string/title_activity_cost_repay"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.CostRepayDetailActivity"
            android:label="@string/title_activity_cost_repay"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MipcaActivityCapture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RepayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SetNewPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- QQ登陆时用到 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent222222" />
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Boundlianfu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RelationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".ui.BoundOrRegister"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".ui.DiscountEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ConversationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v3_6_1" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.PayByWechat"
            android:label="@string/title_activity_pay_by_wechat" >
        </activity>
    </application>

</manifest>
